﻿@model IEnumerable<Ticket>

@using TicketOnlineShop.Models.Entities;

@{
    Layout = "_Layout";
}

    <div class="avaiLableTicketContainer">
        <div class="avaiLableTicketInfoContainer">
            <div class="avaiLableTicketImage"><img src=@Model.FirstOrDefault().Event.PathToBanner alt="@Model.FirstOrDefault().Event.Name" /></div>
            <div class="avaiLableTicketDescription"><p>@Model.FirstOrDefault().Event.Description</p></div>
        </div>
        <div class="avaiLableTicketSellersContainer">
            <div class="avaiLableTicketSellersHeader">
                <div class="ticketSellerHeader">Ticktes</div>
            </div>
            @foreach (var item in Model)
            {
                <div class="avaiLableTicketSellersItem">
                    <div class="avaiLableTicketSellersName">@item.Seller.FirstName @item.Seller.LastName</div>
                    <div class="avaiLableTicketSellersPrice">@item.Price$</div>
                    <a href="#">
                        <div class="avaiLableTicketSellersBuy">
                            Buy now
                        </div>
                    </a>                    
                </div>
            }
        </div>
    </div>