﻿<!--Index Events-->
@using System.Globalization
@model IEnumerable<Event>

@{
    Layout = "_Layout";
}

@{
    int i = 0;
}
<div class="mainContainer">
    <div class="itemFour">
        @foreach (var item in Model)
        {
            <div class="item">
                <div class="picture">
                    <a href="@Url.Action("AvailableTickets","Events", new { eventName = item.Name })">
                        <img src=@item.PathToBanner alt="@item.Name" />
                    </a>
                </div>
                <div id="info">
                    <div class="itemInfoRecord">
                        <div>Event:</div>
                        <div>@item.Name</div>
                    </div>
                    <div class="itemInfoRecord">
                        <div>City:</div>
                        <div>@item.Venue.City.Name</div>
                    </div>
                    <div class="itemInfoRecord">
                        <div>Venue:</div>
                        <div>@item.Venue.Address</div>
                    </div>
                    <div class="itemInfoRecord">
                        <div>Date:</div>
                        <div>@item.Date.ToString("dd-MM-yyy")</div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="itemFour">
        @foreach (var item in Model)
        {
            <div class="item">
                <div class="picture">
                    <a href="@Url.Action("AvailableTickets","Events", new { eventName = item.Name })">
                        <img src=@item.PathToBanner alt="@item.Name" />
                    </a>
                </div>
                <div id="info">
                    <div class="itemInfoRecord">
                        <div>Event:</div>
                        <div>@item.Name</div>
                    </div>
                    <div class="itemInfoRecord">
                        <div>City:</div>
                        <div>@item.Venue.City.Name</div>
                    </div>
                    <div class="itemInfoRecord">
                        <div>Venue:</div>
                        <div>@item.Venue.Address</div>
                    </div>
                    <div class="itemInfoRecord">
                        <div>Date:</div>
                        <div>@item.Date.ToString("dd-MM-yyy")</div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="itemFour">
        @foreach (var item in Model)
        {
            <div class="item">
                <div class="picture">
                    <a href="@Url.Action("AvailableTickets","Events", new { eventName = item.Name })">
                        <img src=@item.PathToBanner alt="@item.Name" />
                    </a>
                </div>
                <div id="info">
                    <div class="itemInfoRecord">
                        <div>Event:</div>
                        <div>@item.Name</div>
                    </div>
                    <div class="itemInfoRecord">
                        <div>City:</div>
                        <div>@item.Venue.City.Name</div>
                    </div>
                    <div class="itemInfoRecord">
                        <div>Venue:</div>
                        <div>@item.Venue.Address</div>
                    </div>
                    <div class="itemInfoRecord">
                        <div>Date:</div>
                        <div>@item.Date.ToString("dd-MM-yyy")</div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

