﻿<!--Index Profile-->
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model MyUser

@{ 
    Layout = "_Layout";
}

<div class="userInfoContainer">
    <div class="userInfo">
        <div>
            <img src="@Model.PathToFoto" />
        </div>
        <div class="userinfoDetails">
            <div class="itemInfoRecord">
                <div>@Localizer["FirstName"]:</div>
                <div>@Model.FirstName</div>
            </div>
            <div class="itemInfoRecord">
                <div>@Localizer["LastName"]:</div>
                <div>@Model.LastName</div>
            </div>
            <div class="itemInfoRecord">
                <div>E-mail:</div>
                <div>@Model.Email</div>
            </div>
        </div>
    </div>
</div>
