﻿@model IEnumerable<Order>

@{
    Layout = "_Layout";
}

<div class="mainContainer">
    <div class="itemFour">
        @foreach (var item in Model)
        {
            @if (item.Status.ToString() == "WaitingForConfirmation")
            { ViewData["eventStatus"] = "waitingEvent"; }
            @if (item.Status.ToString() == "Confirmed")
            { ViewData["eventStatus"] = "confirmedEvent"; }
            @if (item.Status.ToString() == "Rejected")
            { ViewData["eventStatus"] = "rejectedEvent"; }

            <div class="item">
                <div class="picture">
                    <img src=@item.Ticket.Event.PathToBanner alt="@item.Ticket.Event.Name" />
                </div>
                <div id="info">
                    <div class="itemInfoRecord">
                        <div>Event:</div>
                        <div>@item.Ticket.Event.Name</div>
                    </div>
                    <div class="itemInfoRecord">
                        <div>City:</div>
                        <div>@item.Ticket.Event.Venue.City.Name</div>
                    </div>
                    <div class="itemInfoRecord">
                        <div>Venue:</div>
                        <div>@item.Ticket.Event.Venue.Address</div>
                    </div>
                    <div class="itemInfoRecord">
                        <div>Date:</div>
                        <div>@item.Ticket.Event.Date</div>
                    </div>
                    <div class="itemInfoRecord">
                        <div>Price:</div>
                        <div>@item.Ticket.Price$</div>
                    </div>
                    <div class="itemInfoRecord">
                        <div>Status:</div>
                        <div>@item.Status</div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>