﻿@model IEnumerable<Ticket>

@{
    Layout = "_Layout";
}

<div class="mainContainer">
    <div class="itemFour">
        @foreach (var item in Model)
        {
            @if (item.Status.ToString() == "Selling")
            {
                <div class="item">
                    <div class="picture">
                        <img src=@item.Event.PathToBanner alt="@item.Event.Name" />
                    </div>
                    <div id="info">
                        <div class="itemInfoRecord">
                            <div>Event:</div>
                            <div>@item.Event.Name</div>
                        </div>
                        <div class="itemInfoRecord">
                            <div>City:</div>
                            <div>@item.Event.Venue.City.Name</div>
                        </div>
                        <div class="itemInfoRecord">
                            <div>Venue:</div>
                            <div>@item.Event.Venue.Address</div>
                        </div>
                        <div class="itemInfoRecord">
                            <div>Date:</div>
                            <div>@item.Event.Date</div>
                        </div>
                        <div class="itemInfoRecord">
                            <div>Price:</div>
                            <div>@item.Price$</div>
                        </div>
                    </div>
                </div>
            }
        }

        @foreach (var item in Model)
        {
            @if (item.Status.ToString() == "WaitingConfirmation")
            {
                <div class="item">
                    <div class="picture">
                        <img src=@item.Event.PathToBanner alt="@item.Event.Name" />
                    </div>
                    <div id="info">
                        <div class="itemInfoRecord">
                            <div>Event:</div>
                            <div>@item.Event.Name</div>
                        </div>
                        <div class="itemInfoRecord">
                            <div>City:</div>
                            <div>@item.Event.Venue.City.Name</div>
                        </div>
                        <div class="itemInfoRecord">
                            <div>Venue:</div>
                            <div>@item.Event.Venue.Address</div>
                        </div>
                        <div class="itemInfoRecord">
                            <div>Date:</div>
                            <div>@item.Event.Date</div>
                        </div>
                        <div class="itemInfoRecord">
                            <div>Price:</div>
                            <div>@item.Price$</div>
                        </div>
                    </div>
                </div>
            }
        }

        @foreach (var item in Model)
        {
            @if (item.Status.ToString() == "Sold")
            {
                <div class="item">
                    <div class="picture">
                        <img src=@item.Event.PathToBanner alt="@item.Event.Name" />
                    </div>
                    <div id="info">
                        <div class="itemInfoRecord">
                            <div>Event:</div>
                            <div>@item.Event.Name</div>
                        </div>
                        <div class="itemInfoRecord">
                            <div>City:</div>
                            <div>@item.Event.Venue.City.Name</div>
                        </div>
                        <div class="itemInfoRecord">
                            <div>Venue:</div>
                            <div>@item.Event.Venue.Address</div>
                        </div>
                        <div class="itemInfoRecord">
                            <div>Date:</div>
                            <div>@item.Event.Date</div>
                        </div>
                        <div class="itemInfoRecord">
                            <div>Price:</div>
                            <div>@item.Price$</div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>