﻿<!--Index Admin-->
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    Layout = "_Layout";
}

<div class="onlyForAdmin">
    <h1>@Localizer["OnlyForAdmin"]</h1>
</div>
