﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model LoginViewModel

@{
    Layout = "_Layout";
}

<div class="loginContainer">
    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="formLogin">
        <div class="login">
            <fieldset class="account-info">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="inputLogin">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="inputLogin">
            </fieldset>
            <fieldset class="account-action">
                <div class="account-action-container">
                    <input class="btn" type="submit" name="submit" value=@Localizer["Login"]>
                    <label asp-for="RememberMe"></label>
                    <input asp-for="RememberMe" type="checkbox" name="remember">
                </div>
            </fieldset>
        </div>
    </form>
</div>