﻿@using Microsoft.AspNetCore.Identity
@using TicketOnlineShop.Models
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject SignInManager<MyUser> SignInManager
@inject UserManager<MyUser> UserManager
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="headerContainer">
        <div class="leftPartHeader">
            <menu>
                <li>
                    <a asp-controller="Home" asp-action="Index">@Localizer["MainPage"]</a>
                </li>
                <li>
                    <a asp-controller="Events" asp-action="Index">@Localizer["Events"]</a>
                </li>
                <li>
                    <a asp-controller="Profile" asp-action="MyTickets">@Localizer["MyTickets"]</a>
                </li>
                <li>
                    <a asp-controller="Profile" asp-action="MyOrders">@Localizer["MyOrders"]</a>
                </li>
                @if (User.Identity.Name == "Admin")
                {
                    <li>
                        <a asp-controller="Admin" asp-action="Index">@Localizer["OnlyForAdmin"]</a>
                    </li>
                }
            </menu>
        </div>
        <div class="rightPartHeader">
            <menu>
                <li>
                    <a asp-controller="Profile" asp-action="Index">@Localizer["Hello"], @UserManager.GetUserName(User)!</a>
                </li>
                <li>
                    <form asp-controller="Account" asp-action="Logout" method="post">
                        <button class="buttonAsAnchor" type="submit">@Localizer["LogOut"]</button>
                    </form>
                </li>
                <li>
                    <form asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path" method="post">
                        <label class="language">@Localizer["Language"]:</label>
                        <select name="culture" onchange="this.form.submit();" asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems"></select>
                    </form>
                </li>
            </menu>
        </div>
    </div>
}
else
{
    <div class="headerContainer">
        <div class="leftPartHeader">
            <menu>
                <li>
                    <a asp-controller="Home" asp-action="Index">@Localizer["MainPage"]</a>
                </li>
                <li>
                    <a asp-controller="Events" asp-action="Index">@Localizer["Events"]</a>
                </li>
            </menu>
        </div>
        <div class="rightPartHeader">
            <menu>
                <li>
                    <a asp-controller="Account" asp-action="Login">@Localizer["LogIn"]</a>
                </li>
                <li>
                    <form asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path" method="post" class="test">
                        <label class="language">@Localizer["Language"]:</label>
                        <select name="culture" onchange="this.form.submit();" asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems"></select>
                    </form>
                </li>
            </menu>
        </div>
    </div>

}
