﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <meta charset="utf-8" />
    <title>@ViewData["Title"] Ticker re-sailing store</title>    
</head>
<body>
    <div class="wrapper">
        <header>
            @await Html.PartialAsync("_HeaderPartial")
        </header>
        <main>            
            @RenderBody()            
        </main>
        <footer>
            <div>&copy; 2017 - @Localizer["Author"]</div>
        </footer>  
    </div>    
</body>
</html>
